html{
    background-color: #bdc3c7;
     box-sizing: border-box;
}
h1{
    color: #2980b9;
}

body{
    padding: 80px;
    margin: auto;
    margin-top: 100px;
    font-family: sans-serif;
    text-align: center;
    background: white;
    width: 10%;
    min-width: 45%;

}
button{
    padding: 18px;
    margin: 10px;
    font-size: 20px;
    border-radius: 15%;
}
#button{
    background: #2980b9;
    color: white;
}